
.correct-response {
  color: darkgreen;

}

.incorrect-response {
  color: darkred;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.answers {
  margin-top: 20px;
}